/* Reset the page */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Styling for  */
.body,
html {
  height: 100%;
}

.body {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

/*  ===============The warning or news banner============ */

.warning {
  display: block;
  background-color: black;
  padding: 10px 0px;
  height: 25px;
  color: white;
  font-size: 14px;
  text-align: center;
}

/* ==========================Header======================== */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  width: 100vw;
  height: 10vh;
}

/*         --------------Navigation Bar------------         */

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position:absolute;
}

#navLeft {
  margin-left: 4rem;
}

/*  
#navLeft img {
  width: 200px;
  height: 40px;
}
*/

#navRight {
  margin-right: 4rem;
}

/* 
#navRight img { 
  width: 130px;
  height: 35px;
}
*/

#navMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

nav ul li {
  display: flex;
  background-color: white;
  margin: 0px 0px;
  padding: 15px 50px 15px 50px;
  border-radius: 0px;
  text-align: center;
  list-style-type: none;
  transition: 0.2s ease-in-out;
  justify-content: center;
}

nav ul li:hover {
  transform: scale(1.0);
  background-color: grey;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transform: scale(1);
}

/* -------!!!!------This is where the body starts---------!!!!---------  */

/*  ====================Hero Image======================= */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./heroimage.jpg");
  /* Set a specific height */
  height: 30vw;
  width: 100vw;

  /* ----Position and center the image to scale nicely on all screens--- */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* -----This centers the text-----*/
.hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: white;
  margin-left: 30px;
}

/* ===========================THE ABOUT ME SECTION========================== */

.aboutme {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 0px 2vw;
  justify-content: left;
}

.sectionheading {
  display: block;
  text-align: center;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  background-color: white;
  margin-top: 1rem;
}

.aboutmephoto {
  width: 20vw;
  height: 30vh;
  background-image: url();
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px 2vw;
}

/* -----------------Portfolio Work Section------------------ */

#portfoliotitle {
  background-color: white;
  color: black;
}

.sectionsubheadingportfolio {
  display: block;
  text-align: left;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 2rem;
  background-color: white;
}

.portfoliotext {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 15px 100px;
}

/* ---------------------space card --------------------- */

.card {
  width: 350px;
  border-radius: 20px;
  margin: auto;
  background-color: grey;
}

img {
  width: 350px;
  height: 256px;
  border-radius: 20px 20px 0 0;
}

.imgdiv {
  margin: 1.5vw 0.5vw;
}

#img1, #img2, #img3, #img4, #img5 {
  display: flex;
  width: auto;
  height: 8vw;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
} 

.card-text {
  height: 240px;
  padding: 4px 30px 15px 30px;
}

.category {
  font-size: 12px;
  color: blue;
  margin-bottom: 0px;
}

.spacecardh2 {
  font-style: bold;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.spacecardtext {
  font-size: 30px;
  font-style: bold;
  text-transform: capitalize;
  margin: 7px 0px 0px 0px;
  color: rgb(63, 63, 63);
  margin-top: 10px;
}

/*  .carddiv {
  background-color: black;
}
*/
.portfoliosection {
  background-color: white;
  padding: 0vw;
  margin: 0vw;
}

/* ==========================card deck============================== */

.carddeck {
  display: flex;
  margin: 1vw 1vw;
  overflow-x: auto;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0.61);
}

.carddiv {
  margin: 20px 1vw;
  background-color: rgb(53, 53, 53);
}

.carddiv2:hover {
  transform: scale(1.15);
}

/* ===================================================================== */
/* ====================card deck 2====================================== */

.card1,
.card2,
.card3,
.card4,
.card5 {
  width: 350px;
  border-radius: 20px;
  margin: auto;
}

.card1{background-color: green;}
.card2{background-color: rgb(156, 21, 134);}
.card3{background-color: red;}
.card4{background-color: lightblue;}
.card5{background-color: rgba(255, 251, 0, 0.6)}

.carddeck2 {
  display: flex;
  margin: 1vw 0vw;
  background-color: black;
  padding: 30px;
  overflow-x: auto;
  justify-content: left;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.carddiv2 {
  margin: 20px 3vw;
  border-width: 3px;
  border-radius: 5%;
  border-style: solid;
}

#card1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: green;
}

.spacecardh21 {
}

#card1:hover {
  box-shadow: rgba(6, 255, 39, 0.6) 0px 7px 29px 0px;
}

#card2 {
  font-size: 20px;
  border-color: purple;
}

.spacecardh22 {
  font-family: "Aladin";s
}

#card2:hover {
  box-shadow: rgba(255, 0, 255, 0.6) 0px 7px 29px 0px;
}

#card3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: red;
}

.spacecardh23 {
}

#card3:hover {
  box-shadow: rgba(245, 6, 6, 0.6) 0px 7px 29px 0px;
}

.spacecardh24 {
}

#card4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  border-color: lightblue;
}

.spacecardh25 {
}

#card4:hover {
  box-shadow: rgba(6, 245, 245, 0.6) 0px 7px 29px 0px;
}

#card5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

#card5:hover {
  box-shadow: rgba(255, 251, 0, 0.6) 0px 7px 29px 0px;
}

.scrollerdiv {
  background-color: black;
  margin-top: 0%;
  padding: 0%;
}

.scrollerdiv2 {
  background-color: black;
  margin-top: 0%;
  padding: 0%;
}
/* ============================Media Rules================================= */
/* Phone screens  */
@media screen and (max-width: 416px) {
  .header {
    height: 200px;
  }

  .navBar {
    display: block;
    height: 200px;
  }

  #navMiddle {
    flex-direction: column;
    background-color: black;
    height: 300px;
    width: 400px;
    text-align: center;
    position: relative;
  }
  .navBar {
    height: 200px;
    width: 400px;
  }
  .portfoliosectionphoto {
    margin: 0px;
  }
  .aboutme {
    margin: 0px;
    padding: 0px;
    width: 400px;
    flex-direction: column;
  }
  .aboutmephoto {
    margin: 0px;
    padding: 0px;
    width: 400px;
  }
  .hero-image {
    margin-top: 16vh;
    height: 200px;
    width: 400px;
    display: block;
  }

  #navLeft,
  #navRight {
    padding: 0px;
    margin: 0px;
  }
  .portfoliotext {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

/* screens up to 800px */
@media screen and (max-width: 801px) {

}
/* desktop version */
@media screen and (min-width: 802px) {
  #navMiddle {
    flex-direction: row;
    background-color: white;
  }
}

/* blackjack styling */ 
#tablediv {
  display:flex;
  background-image: url("table.jpg");
  background-size: cover;


}
/*#tableimg {
  z-index: -5;
  position : absolute
}*/

#h3bj {
  color: black;
}

.card1bj {
  margin-top: 30vw;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  max-width: 190px;
  min-width: 50px;
  height: 15vw;
  max-height: 300px;
  min-height: 70px;
  background-color: white;
  border-radius: 7.5%;
  border-color: black;
  border-width: 0.6vw;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card2bj {
  margin-top: 30vw;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  max-width: 190px;
  min-width: 50px;
  height: 15vw;
  max-height: 300px;
  min-height: 70px;
  background-color: white;
  border-radius: 7.5%;
  border-color: black;
  border-width: 0.6vw;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card3bj ,.card4bj,.card5bj {
  margin-top: 30vw;
  margin-left: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  max-width: 190px;
  min-width: 50px;
  height: 15vw;
  max-height: 300px;
  min-height: 70px;
  background-color: white;
  border-radius: 7.5%;
  border-color: black;
  border-width: 0.6vw;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#card3bj {
  display: none;
}

#card4bj {
  display: none;
}

#card5bj {
  display: none;
}


/*#img1, #img2, #img3, #img4, #img5 {
  width: 7.5vw;
  margin: 0vw 0vw;
  justify-content: center;
  align-items: center;
}
*/

.topnumbercard1,.topnumbercard2,.topnumbercard3,.topnumbercard4,.topnumbercard5 {
  color: black;
}


.hand {
  display: flex;
  flex-direction: row;
  height: 60vw;
  max-width: 1400px;
}


#h4bj {
  display: flex;
  font-size: 170%;
  margin: 0vw 10vw;
  color: black;
}

button {
  margin: 2vw;
  min-width: 12.5vw;
  min-height: 5vw;
}

button:hover {
  transform: scale(1.2);
}

#but1 {
  background-color: rgb(45, 248, 45);
}

.buttonss {
  display: flex;
}

#but1:hover {
  box-shadow: rgb(1, 255, 35) 0px 14px 28px, rgb(54, 248, 5) 0px 10px 10px;
}

#but2 {
  background-color: red;
}

#but2:hover {
  box-shadow: rgb(255, 1, 1) 0px 14px 28px, rgb(255, 0, 0) 0px 10px 10px;
}