/* Reset the page */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Styling for  */
body,
html {
  height: 100%;
}

/*  ===============The warning or news banner============ */

.warning {
  display: block;
  background-color: black;
  padding: 10px 0px;
  height: 25px;
  color: white;
  font-size: 14px;
  text-align: center;
}

/* ==========================Header======================== */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  width: 100vw;
  height: 100px;
}

/*         --------------Navigation Bar------------         */

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}

#navLeft {
  margin-left: 4rem;
}

/*  
#navLeft img {
  width: 200px;
  height: 40px;
}
*/

#navRight {
  margin-right: 4rem;
}

/* 
#navRight img { 
  width: 130px;
  height: 35px;
}
*/

#navMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

nav ul li {
  display: flex;
  background-color: white;
  margin: 0px 10px;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  text-align: center;
  list-style-type: none;
  transition: 0.2s ease-in-out;
  justify-content: center;
}

nav ul li:hover {
  transform: scale(1.3);
  background-color: rgb(104, 104, 104);
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transform: scale(1);
}

/* -------!!!!------This is where the body starts---------!!!!---------  */

/*  ====================Hero Image======================= */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./heroimage.jpg");
  /* Set a specific height */
  height: 30em;
  width: 100%;

  /* ----Position and center the image to scale nicely on all screens--- */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* -----This centers the text-----*/
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: white;
  margin-left: 30px;
}

/* ===========================THE ABOUT ME SECTION========================== */

.aboutme {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 0px 2vw;
  justify-content: left;
}

.sectionheading {
  display: block;
  text-align: center;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  background-color: white;
}

.aboutmephoto {
  width: 20vw;
  height: 30vh;
  background-image: url("./dogo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px 2vw;
}

/* -----------------Portfolio Work Section------------------ */

#portfoliotitle {
  background-color: white;
  color: black;
}

.sectionsubheadingportfolio {
  display: block;
  text-align: left;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px 110px;
  background-color: white;
}

.portfoliotext {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 15px 100px;
}

/* ---------------------space card --------------------- */

.card {
  width: 350px;
  border-radius: 20px;
  margin: auto;
  background-color: grey;
}

img {
  width: 350px;
  height: 256px;
  border-radius: 20px 20px 0 0;
}

.card-text {
  height: 240px;
  padding: 4px 30px 15px 30px;
}

.category {
  font-size: 12px;
  color: blue;
  margin-bottom: 0px;
}

.spacecardh2 {
  font-style: bold;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.spacecardtext {
  font-size: 30px;
  font-style: bold;
  text-transform: capitalize;
  margin: 7px 0px 0px 0px;
  color: rgb(63, 63, 63);
  margin-top: 10px;
}

/*  .carddiv {
  background-color: black;
}
*/
.portfoliosection {
  background-color: white;
  padding: 0vw;
  margin: 0vw;
}

/* ==========================card deck============================== */

.carddeck {
  display: flex;
  margin: 1vw 1vw;
  overflow-x: auto;
  justify-content: left;
}

.carddiv {
  margin: 20px 1vw;
}

.carddiv2:hover {
  transform: scale(1.15);
}

/* ===================================================================== */
/* ====================card deck 2====================================== */

.card1,
.card2,
.card3,
.card4,
.card5 {
  width: 350px;
  border-radius: 20px;
  margin: auto;
}

.card1{background-color: green;}
.card2{background-color: rgb(156, 21, 134);}
.card3{background-color: red;}
.card4{background-color: lightblue;}
.card5{background-color: rgba(255, 251, 0, 0.6)}

.carddeck2 {
  display: flex;
  margin: 1vw 1vw;
  background-color: black;
  padding: 30px;
  overflow-x: auto;
  justify-content: left;
}

.carddiv2 {
  margin: 20px 1vw;
  border-width: 3px;
  border-radius: 5%;
  border-style: solid;
}

#card1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: green;
}

.spacecardh21 {
}

#card1:hover {
  box-shadow: rgba(6, 255, 39, 0.6) 0px 7px 29px 0px;
}

#card2 {
  font-size: 20px;
  border-color: purple;
}

.spacecardh22 {
  font-family: "Aladin";s
}

#card2:hover {
  box-shadow: rgba(255, 0, 255, 0.6) 0px 7px 29px 0px;
}

#card3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: red;
}

.spacecardh23 {
}

#card3:hover {
  box-shadow: rgba(245, 6, 6, 0.6) 0px 7px 29px 0px;
}

.spacecardh24 {
}

#card4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  border-color: lightblue;
}

.spacecardh25 {
}

#card4:hover {
  box-shadow: rgba(6, 245, 245, 0.6) 0px 7px 29px 0px;
}

#card5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

#card5:hover {
  box-shadow: rgba(255, 251, 0, 0.6) 0px 7px 29px 0px;
}

/* ============================Media Rules================================= */
/* Phone screens  */
@media screen and (max-width: 401px) {
  #navMiddle {
    flex-direction: column;
    background-color: black;
    width: 400px;
    text-align: center;
  }
  .navBar {
    height: 200px;
    width: 400px;
  }
  .portfoliosectionphoto {
    margin: 0px;
  }
  .aboutme {
    margin: 0px;
    padding: 0px;
    width: 400px;
    flex-direction: column;
  }
  .aboutmephoto {
    margin: 0px;
    padding: 0px;
    width: 400px;
  }
  .hero-image {
    height: 200px;
    width: 400px;
  }

  #navLeft,
  #navRight {
    padding: 0px;
    margin: 0px;
  }
  .portfoliotext {
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

/* screens up to 800px */
@media screen and (max-width: 801px) {

}
/* desktop version */
@media screen and (min-width: 802px) {
  #navMiddle {
    flex-direction: row;
    background-color: white;
  }
}
