/* Reset the page */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Styling for  */
body,
html {
  height: 100%;
}

/*  ===============The warning or news banner============ */

.warning {
  display: block;
  background-color: black;
  padding: 10px 0px;
  height: 25px;
  color: white;
  font-size: 14px;
  text-align: center;
}

/* ==========================Header======================== */
header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: grey;
  width: 100vw;
  height: 100px;
}

/*         --------------Navigation Bar------------         */

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}

#navLeft {
  margin-left: 4rem;
}

/*  
#navLeft img {
  width: 200px;
  height: 40px;
}
*/

#navRight {
  margin-right: 4rem;
}

/* 
#navRight img { 
  width: 130px;
  height: 35px;
}
*/

#navMiddle {
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3em;
}

nav ul li {
  display: flex;
  background-color: white;
  margin: 0px 10px;
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  text-align: center;
  list-style-type: none;
  transition: 0.2s ease-in-out;
}

nav ul li:hover {
  transform: scale(1.3);
  background-color: rgb(104, 104, 104);
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transform: scale(1);
}

/* -------!!!!------This is where the body starts---------!!!!---------  */

/*  ====================Hero Image======================= */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./heroimage.jpg");
  /* Set a specific height */
  height: 30em;
  width: 100%;

  /* ----Position and center the image to scale nicely on all screens--- */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* -----This centers the text-----*/
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  color: white;
  margin-left: 30px;
}

/* ===========================THE ABOUT ME SECTION========================== */

.aboutme {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 0px 30px 0px 0px;
}

.sectionheading {
  display: block;
  text-align: center;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  background-color: white;
}

.aboutmephoto {
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-image: url("./dogo.jpg");
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px 100px;
}

/* -----------------Portfolio Work Section------------------ */

#portfoliotitle {
  background-color: white;
  color: black;
}

.sectionsubheadingportfolio {
  display: block;
  text-align: left;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px 110px;
  background-color: white;
}
.portfoliosectionphoto {
  min-width: 400px;
  min-height: 400px;
  max-height: 400px;
  background-image: url("./116147.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px 15px;
}

.portfoliotext {
  display: flex;
  font-size: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 15px 100px;
}

/* ---------------------space card --------------------- */

.card {
  width: 350px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  margin: auto;
  background-color: grey;
}

img {
  width: 350px;
  height: 256px;
  border-radius: 20px 20px 0 0;
}

.card-text {
  height: 240px;
  padding: 4px 30px 15px 30px;
}

.category {
  font-size: 12px;
  color: blue;
  margin-bottom: 0px;
}

.spacecardh2 {
  font-style: bold;
  font-size: 2em;
  font-family: "Aladin";
}

.spacecardtext {
  font-size: 30px;
  font-style: bold;
  text-transform: capitalize;
  margin: 7px 0px 0px 0px;
  color: rgb(63, 63, 63);
  margin-top: 10px;
}

/*  .carddiv {
  background-color: black;
}
*/
#portfoliosection {
  background-color: white;
}

/* ===========================end of sapce card=============================== */
/* ==========================card deck============================== */

.carddeck {
  display: flex;
  margin: 10px 100px;
}

.carddiv {
  margin: 20px auto;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: rgba(6, 6, 245, 0.6) 0px 7px 29px 0px;
}

/* ===================================================================== */
